.teaser {
  display: flex;
  background: #000;
  align-items: stretch;
  max-height: 240px;
  border-radius: 20px;
}

.teaser-img-col {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex: 1;
  border-radius: 20px;
}

.teaser-img-col img {
  height: 100%;
  width: auto;
}

.teaser > div:not(.teaser-img-col) {
  color: var(--color-neutral-50);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.teaser > div:not(.teaser-img-col) > div {
  padding: 5rem;
}

.teaser > div:not(.teaser-img-col) h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.96px;
  margin-bottom: 1rem;
  width: 100%;
}

.teaser > div:not(.teaser-img-col) p {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.56px;
  margin: 0;
}

@media (width <= 900px) {
  .teaser {
    flex-direction: column-reverse;
    max-height: 568px;
  }

  .teaser > div:not(.teaser-img-col) > div {
    text-align: center;
    padding: 5rem 7rem;
  }
}

/* teaser wireless variation */
.section.teaser-wireless .teaser {
  background-color: #f8fcfc;
  border-radius: 0;
  max-height: 450px;
}

.section.teaser-wireless .teaser > div:not(.teaser-img-col) {
  color: #000;
}

.section.teaser-wireless .teaser h2 {
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -1.44px;
  line-height: 55.2px;
  margin-bottom: 1.5rem;;
}

.section.teaser-wireless .teaser p {
  font-size: 18px;
}

@media (width <= 900px) {
  .section.teaser-wireless .teaser {
    max-height: unset;
  }

  .section.teaser-wireless .teaser > div:not(.teaser-img-col) > div {
    padding: 2rem 1rem;
    text-align: left;
  }

  .section.teaser-wireless .teaser h2 {
    font-size: 32px;
  }
}